# Main NIDO WordPress (subdirectory). Editors log in at:
# https://www.nidomontessori.in/blog/wp-admin
# Only /blogs uses this API. Other pages stay in this React app.
WORDPRESS_URL=https://www.nidomontessori.in/blog

# Native WordPress Posts only (Add Post in wp-admin).
WORDPRESS_CONTENT_TYPE=posts
